@charset "utf-8";

section#intro_wrap {
    background-color: #1A362A;
    width: 100vw;
    height: 100vh;
    position: relative;
}
/* 
div#intro_logo {
    aspect-ratio: 16/9;
    height: 40%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 50;
    background: url("../images/lg_faber_castell.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
} */
div#intro_logo_box{
    width: 861px;
    height: 485px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 123px 0;
    box-sizing: border-box;
}
div#intro_img{
    width: 146px;
    height: 90px;
    background: url('/images/logo_Lancer_img.svg') no-repeat center;
    margin: 0 auto;
}
/* 인트로 name 구역 */
div#intro_name_box{
    width: 100%;
    height: 110px;
    margin-top: 15px;
}
ul#intro_name_list{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-end;
}
ul#intro_name_list>li{
    width: 40px;
    height: 68px;
    margin-right: 10px;
}
ul#intro_name_list li.intro_f{
    width: 57px;
    height: 100px;
    background: url('/images/f.svg') no-repeat center;
    margin-right: 0;
}
ul#intro_name_list li.intro_a{
    width: 75px;
    background: url('/images/a.svg') no-repeat center;
    transform: translateX(-10px);
    margin-right: 0;
}
ul#intro_name_list li.intro_b{
    width: 51px;
    background: url('/images/b.svg') no-repeat center;
}
ul#intro_name_list li.intro_e{
    width: 49px;
    background: url('/images/e.svg') no-repeat center;
}
ul#intro_name_list li.intro_r{
    width: 63px;
    background: url('/images/r.svg') no-repeat center;
}
ul#intro_name_list li.intro_bar{
    width: 30px;
    background: url('/images/bar.svg') no-repeat center;
    margin-right: 0;
    transform: translateX(-13px);
}
ul#intro_name_list li.intro_c{
    width: 76px;
    height: 101px;
    background: url('/images/c.svg') no-repeat center;
}
ul#intro_name_list li.intro_a_2{
    margin-right: 6px;
}
ul#intro_name_list li.intro_s{
    width: 44px;
    background: url('/images/s.svg') no-repeat center;
    margin-right: 6px;
}
ul#intro_name_list li.intro_t{
    width: 55px;
    background: url('/images/t.svg') no-repeat center;
    margin-right: 6px;
}
ul#intro_name_list li.intro_l{
    width: 46px;
    background: url('/images/l.svg') no-repeat center;
    margin-right: 6px;
}
ul#intro_name_list li:last-child{
    margin-right: 0;
}
/* 인트로 since 구역 */
div#intro_since_box{
    width: 120px;
    height: 24px;
    margin: 0 auto;
    margin-top: 15px;
}
ul#intro_since_list{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-end;
}
ul#intro_since_list li{
    width: 10px;
    height: 100%;
    margin-right: 1px;
}
ul#intro_since_list li.since_s{
    width: 9.8px;
    height: 15px;
    background: url('/images/min_s.svg') no-repeat center;
}
ul#intro_since_list li.since_i{
    width: 8.3px;
    background: url('/images/min_i.svg') no-repeat center;
}
ul#intro_since_list li.since_n{
    width: 15px;
    height: 15px;
    background: url('/images/min_n.svg') no-repeat center;
}
ul#intro_since_list li.since_c{
    height: 15px;
    background: url('/images/min_c.svg') no-repeat center;
}
ul#intro_since_list li.since_e{
    height: 15px;
    background: url('/images/min_e.svg') no-repeat center;
    margin-right: 7px;
}
ul#intro_since_list li.since_1{
    width: 11px;
    background: url('/images/min_1.svg') no-repeat center;
}
ul#intro_since_list li.since_7{
    width: 15px;
    background: url('/images/min_7.svg') no-repeat center;
}
ul#intro_since_list li.since_6{
    width: 14px;
    background: url('/images/min_6.svg') no-repeat center;
}
ul#intro_since_list li:last-child{
    margin-right: 0;
}