body {
    /*position: relative;*/
}


/***** 메뉴 영역 [S] *****/
#full_nav_wrap {
    display: flex;
    justify-content: center;
    align-items: center;
    /* 기존의 속성들 */
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: #1A362A;
    z-index: 100;
}

#main_nav {
    flex: 1;
    background-color: white;
}
.main_nav_wrap {
    height: 980px;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}

#main_nav .nav_list li>a {
    color: #1A362A;
}

#main_nav .nav_list li>a:hover {
    color: white;
    background-color: #1A362A;
}

.nav_list li {
    height:150px;
}

.nav_list li>a {
    color: white;
    font-size: 70px;
    font-weight: 700;
    font-style: normal;
    font-family: 'IBM Plex Sans', sans-serif;
}

.nav_list {
    position: absolute;
    width: 627px;
    height: 574px;
    left: 145px;
    top: 150px;
}

.split-container {
    display: flex;
    justify-content: space-between;
    width: 1920px;
    height: 100%; /* 브라우저 높이를 100%로 설정 */
}

.split-container .image-container {
    flex: 1;
    margin-right: 10px;
    height: 100%; /* 브라우저 높이를 100%로 설정 */
}

.split-container .image-container img {
    width: 100%;
    height: 100%; /* 부모 요소인 .image-container의 높이를 100%로 설정 */
}


/***** 메뉴 영역 [E] *****/

header#header_wrap {
    width: 100%;
    height: 80px;
    position: fixed;
    z-index: 50;
    left: 0;
    top: 0;
    border: 2px solid black;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}


/* 햄버거 메뉴 */
#tgl_mn {
    margin-right: 20px;
    width: 50px;
    height: 50px;
    cursor: pointer;
    background-color: black;
    position: absolute;
    z-index: 9999;
}
#tgl_mn svg {
    fill: white;
}


/* 닫기 버튼 */
img.Vector {
    position: absolute;
    width: 36px;
    height: 36px;
    right:50px;
    top:50px;
    object-fit: contain;
}


/* SNS 버 */
img.faceboock {
    position: absolute;
    width: 50px;
    height: 50px;
    left:110px;
    bottom:35px;
    object-fit: contain;
}
img.twitter-fill {
    position: absolute;
    width: 50px;
    height: 50px;
    left:218px;
    bottom:35px;
    object-fit: contain;
}
img.instagram-original {
    position: absolute;
    width: 50px;
    height: 50px;
    left:326px;
    bottom:35px;
    object-fit: contain;
}
img.youtube {
    position: absolute;
    width: 50px;
    height: 50px;
    left:434px;
    bottom:35px;
    object-fit: contain;
}




.hidden {
    width: 1px;
    height: 1px;
    font-size: 0;
    line-height: 0;
    position: absolute;
    left: 0;
    top: 0;
}

ul#skip_mn_list>li>a:focus {
    width: 100%;
    height: 30px;
    background: black;
    position: absolute;
    left: 0;
    top: 0;
    font: normal 16px/30px "Noto Sans KR";
    text-align: center;
    color: white;
}

.inner_wrap {
    width: 1280px;
    height: 100%;
    margin: 0 auto;
}

#visual_wrap .inner_wrap {
    border: 1px solid #1A362A;
}

/* 인트로영역끝*/
/* 비쥬얼영역시작 */
section#visual_wrap {
    width: 100%;
    height: 980px;
    background: #F6F6F0;
    position: relative;
    left: 0;
    top: 0;
}

/* 비쥬얼영역끝 /
/ 브랜드스토리영역시작 */
section#brandstory_wrap {
    width: 100%;
    height: 2940px;
    display: flex;
    background-color: #1A362A;
    flex-direction: row;
    justify-content: center;
    align-items: center;

}

div#brandstory_inner {
    width: 90%;
    height: 95%;
    border: solid 1px rgb(210, 210, 210);
    box-sizing: border-box;
    flex-basis: 90%;
}

article.brandstory {
    width: 100%;
    height: 930px;
}

div.philo_inner{
    padding-top:100px;
}

div.philo_title{
    width:480px;
    height:90px;
}
h2.philo_text_title{
    font:bold 70px/90px "IBM Plex Sans";
    color:#9E8C64;
}

ul#philo_list {
    width:100%;
    height:560px;
    display:flex;
    flex-wrap:wrap;
    flex-direction: row;
    margin-top: 100px;
}

ul#philo_list>li{
    width:33.3%;
    height:50%;
    background: #1A362A;
    border:solid 1px gray;
    box-sizing: border-box;
    padding-top:45px;
    padding-left: 45px;
}

h3.philo_subtitle{
    width:250px;
    height:30px;
    color:#F6F6F0;
}

ul.philo_subtext{
    width:335px;
    height:130px;
    float:left;
    margin-top: 20px;
}

ul.philo_subtext li{
    width:100%;
    height:35px;
    text-indent: 10px;
    color:#F6F6F0;
}

ul#philo_list>li:first-child{
    background:url("/images/philo_back.svg")no-repeat center;
    background-size: cover;
}

/* 브랜드스토리영역끝 /
/ 콘텐츠영역시작 */
div#contents_wrap {
    width: 100%;
    height: 100%;
    background: yellow;
}

div.contents {
    width: 100%;
    height: 980px;
    background: darkred;
}

.story > .inner_wrap {
    background-color: lightcyan;
}


.timeline > .inner_wrap {
    background-color: lightpink;
    display: flex;
    flex-wrap: nowrap;
}

.tline_wrap {
    height: 100%;
}

.tline_img_wrap {
    width: 55%;
    background-color: yellowgreen;
}

.tline_txt_wrap {
    background-color: lightpink;
    width: 45%;
}