body {
    /*position: relative;*/
}

#full_nav_wrap {
    position: fixed;
    display: none;
    width: 100%;
    height: 100%;
    background-color: #1A362A;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: 100;
    overflow-y: hidden;
}

#main_nav {
    width: 100%;
    height: 100%;
    background-color: #1A362A;
    /*overflow: hidden;*/
}

.nav_list li>a {
    color: #333;
    font-size: 70px;
    font-weight: 700;
    font-style: normal;
    font-family: 'IBM Plex Sans', sans-serif;
}

header#header_wrap {
    width: 100%;
    height: 80px;
    position: fixed;
    z-index: 50;
    left: 0;
    top: 0;
    border: 2px solid black;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

#tgl_mn {
    margin-right: 20px;
    border: 1px solid lemonchiffon;
    width: 50px;
    height: 50px;
    cursor: pointer;
    background-color: rgba(255, 160, 122, 0.4);
}

.hidden {
    width: 1px;
    height: 1px;
    font-size: 0;
    line-height: 0;
    position: absolute;
    left: 0;
    top: 0;
}

ul#skip_mn_list>li>a:focus {
    width: 100%;
    height: 30px;
    background: black;
    position: absolute;
    left: 0;
    top: 0;
    font: normal 16px/30px "Noto Sans KR";
    text-align: center;
    color: white;
}

.inner_wrap {
    width: 1280px;
    height: 100%;
    margin: 0 auto;
}

#visual_wrap .inner_wrap {
    border: 1px solid #1A362A;
}

/* 인트로영역끝*/
/* 비쥬얼영역시작 */
section#visual_wrap {
    width: 100%;
    height: 980px;
    background: #F6F6F0;
    position: relative;
    left: 0;
    top: 0;
}

/* 비쥬얼영역끝 */
/* 브랜드스토리영역시작 */
section#brandstory_wrap {
    width: 100%;
    height: 2940px;
    display: flex;
    background-color: #1A362A;
    flex-direction: row;
    justify-content: center;
    align-items: center;

}

div#brandstory_inner {
    width: 90%;
    height: 95%;
    border: solid 1px rgb(210, 210, 210);
    box-sizing: border-box;
    flex-basis: 90%;
}

article.brandstory {
    width: 100%;
    height: 930px;
}

/* 브랜드스토리영역끝 */
/* 콘텐츠영역시작 */
div#contents_wrap {
    width: 100%;
    height: 100%;
    background: yellow;
}

div.contents {
    width: 100%;
    height: 980px;
    background: darkred;
}

.story > .inner_wrap {
    background-color: lightcyan;
}

.philo > .inner_wrap {
     background-color: lemonchiffon;
}

.timeline > .inner_wrap {
    background-color: lightpink;
}



/*header {*/
/*    width: 1280px;*/
/*    height: 100%;*/
/*    background: red;*/
/*    margin: 0 auto;*/
/*    position: relative;*/
/*    left: 0;*/
/*    top: 0;*/
/*}*/

/*div#mainmenu {*/
/*    width: 700px;*/
/*    height: 45px;*/
/*    background: darkmagenta;*/
/*    position: absolute;*/
/*    right: 100px;*/
/*    top: 20px;*/

/*}*/

/*ul#mainmenu_list {*/
/*    width: 100%;*/
/*    height: 100%;*/

/*}*/

/*div.acode_menu {*/
/*    width: 60px;*/
/*    height: 60px;*/
/*    background: black;*/
/*    position: absolute;*/
/*    right: -250px;*/
/*    top: 10px;*/
/*}*/

/* 인트로영역시작*/
/*div#intro_wrap {*/
/*    width: 100%;*/
/*    height: 980px;*/
/*    background: darkgreen;*/
/*    display: none;*/
/*    opacity: 0;*/
/*}*/
