body {
    /*position: relative;*/
}


.hidden {
    width: 1px;
    height: 1px;
    font-size: 0;
    line-height: 0;
    position: absolute;
    left: 0;
    top: 0;
}

ul#skip_mn_list>li>a:focus {
    width: 100%;
    height: 30px;
    background: black;
    position: absolute;
    left: 0;
    top: 0;
    font: normal 16px/30px "Noto Sans KR";
    text-align: center;
    color: white;
}

.inner_wrap {
    width: 1280px;
    height: 100%;
    margin: 0 auto;
}

#visual_wrap .inner_wrap {
    border: 1px solid #1A362A;
}

/* 인트로영역끝*/
/* 비쥬얼영역시작 */
section#visual_wrap {
    width: 100%;
    height: 980px;
    background: #F6F6F0;
    position: relative;
    left: 0;
    top: 0;
}

/* 비쥬얼영역끝 /
/ 브랜드스토리영역시작 */
section#brandstory_wrap {
    width: 100%;
    height: 2940px;
    display: flex;
    background-color: #1A362A;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    overflow: hidden;

}

div#brandstory_inner {
    width: 90%;
    height: 95%;
    border: solid 1px rgb(210, 210, 210);
    box-sizing: border-box;
    flex-basis: 90%;
}

article.brandstory {
    width: 100%;
    height: 930px;
}

/* 브랜드스토리영역끝 /
/ 콘텐츠영역시작 */
div#contents_wrap {
    width: 100%;
    height: 100%;
    background: yellow;
}

div.contents {
    width: 100%;
    height: 980px;
    background: darkred;
}

.story > .inner_wrap {
    background-color: lightcyan;
}

.philo > .inner_wrap {
    background-color: lemonchiffon;
}

/* 브랜드 스토리 타임라인 영역 */
article.timeline {
    position: relative;
}

.tline_background {
    position: absolute;
    top: 100%;
    left: 100%;
    transform: translate(-60%, -80%);
    width: 55%;
    height: 55%;
}

.tline_con {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    height: calc(100% - 170px);
}

p.tline_tit {
    padding-top: 100px;
    padding-left: 220px;
    font-family: 'IBM Plex Serif', serif;
    font-size: 70px;
    color: #9E8C64;
    font-weight: bold;
}

.tline_wrap {
    height: 100%;
}

.tline_img_wrap {
    width: 55%;
    padding-top: 40px;
    position: relative;
}

.tline_img_wrap > img {
    position: absolute;
    width: 90%;
    height: 90%;
    top: 50%;
    left: 50%;
    transform: translate(-55%, -51%);
}

.tline_txt_wrap {
    width: 45%;
    padding-top: 110px;
    padding-left: 20px;
    display: flex;
    flex-direction: column;
}

.tline_dot {
    width: 20px;
    height: 20px;
    border: 1px solid #d9d9d9;
    background-color: #d9d9d9;
    border-radius: 50%;
}

.tline_bar_wrap {
    width: 95%;
    height: 480px;
    border-left: 1px solid #d9d9d9;
    margin-top: 35px;
    margin-left: 9px;
}

p.tline_txt {
    color: #d9d9d9;
    line-height: 150%;
    font-size: 18px;
    font-weight: 300;
    margin-left: 45px;
    margin-top: 30px;
}