@charset "uft-8";

section {
    color: #333333;
    font-weight: bold;
    width: 100%;
    height: 400%;
    background:#ECF6F0;
}

section.section1{
    width:100%;
    height:100vh;
    background:#ECF6F0;
}
article.contents_left_image{
    width:50%;
    height:100vh;
    float:left;
    background:#ECF6F0;
}

article.contents_right_image{
    width:50%;
    height:100vh;
    background:url("/images/colorpen_back_img.png")no-repeat center;
    background-size: cover;
    float:left;
    opacity:0.3;
}

article.products {
    width: 100%;
    height: 100vh;
}

/*색연필영역시작*/
article.colorpen2{
    width:1280px;
    height:100vh;
    position:absolute;
    left:50%;
    margin-left: -640px;
    top:0px;
}

div.contents_left{
    width:50%;
    height:100%;
    background: #ECF6F0;
    float:left;
    padding-top: 170px;
}


div.contents_text{
    width:100%;
    height:610px;
}
div.contents_text_title{
    width:100%;
    height:130px;

}
div.contents_text_subtitle{
    width:100%;
    height:480px;
    padding-top:100px;
    box-sizing:border-box;
}

div.contents_right{
    width:50%;
    height:100%;
    float:left;
}

div.contents_image{
    width:100%;
    height:680px;
    background:url("/images/colorpen_00.png")no-repeat;
    background-size: contain;
}

h2.contents_text_info_title{
    font:bold 40px "GmarketSansMedium";
    color:#333333;
}
p.contents_text_info_subtitle{
    font:normal 20px/40px "GmarketSansMedium";
    color:#333333;
}
/*색연필영역끝*/

/* 마커 영역  */
div.marker {
    position: relative;
}

div.marker_outerwrap {
    width: 100%;
    height: 100%;
    position: absolute;
}

div.marker_outer_bg {
    width: 49%;
    height: 100%;
    background: url("../images/mk_bg.svg");
    background-repeat: no-repeat;
    background-size: cover;
}

div.marker_innerwrap {
    width: 1280px;
    height: 100%;
    margin: 0 auto;
    position: relative;
    z-index: 3;
    display: flex;
    flex-wrap: nowrap;
}

div.marker_img {
    width: 620px;
    height: 826px;
    background: url("../images/mk_smbg.svg");
    background-repeat: no-repeat;
    background-size: contain;
    margin-right: 40px;
}

div.marker_text {
    width: 620px;
    height: auto;
    margin-top: 180px;
}

h1.marker_txt {
    font-size: 50px;
    font-weight: 700;
    margin-bottom: 100px;
}

p.marker_context {
    width: 100%;
    font-size: 30px;
    font-weight: 300;
    line-height: 150%;
}